<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<title>Products</title>
	</head>
	<style>
        a, a:visited, a:hover, a:active {
         color: inherit;
         text-decoration: none;
        }
        #navBarSearchForm input[type=text]{width:400px !important;}
        
    </style>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <a href="" Style="color: white; font-size:30px" >ShopOn</a>
        </nav>
        <div class="container-fluid ">
                <div class="row mt-5">
                    <div class="col-sm"></div>
                    <div class="col-sm w-40">
                    <a href="{% url 'Ecomm_users:index' %}">
                    <div class="card shadow-sm p-3 mb-3 bg-white rounded " style="align-items: center;">
                        <div class="card-body">
                            <h5 class="card-title">User</h5>
                        </div>
                    </div>
                    </a>
                    </div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm w-40">
                    <a href="{% url 'Ecomm_admin:homePage' %}">
                    <div class="card shadow-sm p-3 mb-3 bg-white rounded " style="align-items: center;">
                        <div class="card-body">
                            <h5 class="card-title">Admin</h5>
                        </div>
                    </div>
                    </a>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>


    

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>
   